<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="beanServer" class="com.eposi.fms.Server" scope="singleton"/>
    <bean id="beanRealtimeExecutor" class="com.eposi.fms.RealtimeExecutor" init-method="init"  scope="singleton">
        <property name="poolSize" value="${fms.executor.poolSize}" />
        <property name="maxMsgPerVehicle" value="${fms.executor.maxMsgPerVehicle}" />
        <property name="msxMsgProcessingCurrent" value="${fms.executor.msxMsgProcessingCurrent}" />
    </bean>
    <bean id="beanAggregationWindowProcessor" class="com.eposi.fms.AggregationWindowProcessor" init-method="init"  scope="singleton"/>
    <bean id="beanReportProcessor" class="com.eposi.fms.ReportProcessor" init-method="init"  scope="singleton"/>

    <!-- DATA LOGGING -->
    <bean id="beanReportFileStore" class="com.eposi.fms.services.ReportFileStore" scope="singleton" init-method="init"/>

    <!-- Rest Client -->
    <bean id="beanRWsClient" class="com.eposi.fms.rest.client.RWsClient" scope="singleton" init-method="start">
        <property name="mgr" ref="beanPoolingHttpClientConnectionManager"/>
        <property name="rootURI" value="${rws.rootURI}"/>
        <property name="port" value="${rws.port}"/>
        <property name="username" value="${rws.username}"/>
        <property name="password" value="${rws.password}"/>
    </bean>

    <bean id="beanPoolingHttpClientConnectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" scope="singleton" destroy-method="shutdown">
        <property name="maxTotal" value="200"/>
        <property name="defaultMaxPerRoute" value="100"/>
        <property name="validateAfterInactivity" value="1000"/>
    </bean>

    <bean id="idleConnectionMonitorThread"  class="com.eposi.fms.rest.client.IdleConnectionMonitorThread" scope="singleton" init-method="start" destroy-method="shutdown">
        <constructor-arg name="connMgr" ref="beanPoolingHttpClientConnectionManager"/>
        <constructor-arg name="idleTimeoutInMS" value="300000"/>
    </bean>

    <bean id="beanFmsDao" class="com.eposi.fms.persitence.FmsDao" scope="singleton" init-method="init" />
    <bean id="beanDaoUtil" class="com.eposi.common.persitence.DaoUtil" scope="singleton" />
    <bean id="beanHibernateUtil" class="com.eposi.common.persitence.HibernateUtil" scope="singleton" />

    <!-- AMQP -->
    <bean id="beanQueueingConsumerClient" class="com.eposi.fms.services.QueueingConsumerClient" init-method="start" destroy-method="shutdown" scope="singleton">
        <property name="addresses">
            <list>
                <value>${fms.amqp.queue.statistics.address}</value>
            </list>
        </property>
        <property name="username" value="${fms.amqp.queue.statistics.username}" />
        <property name="password" value="${fms.amqp.queue.statistics.password}" />
        <property name="queuename" value="${fms.amqp.queue.statistics.queuename}" />
    </bean>

    <!-- DATA SOURCE -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" scope="singleton">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties"><ref bean="hibernateProperties" /></property>
        <property name="mappingResources">
            <list>
                <value>com/eposi/fms/model/Company.hbm.xml</value>
                <value>com/eposi/fms/model/VehicleAggregation.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean" scope="singleton">
        <property name="properties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">none</prop>
                <prop key="hibernate.dialect">org.hibernatespatial.mysql.MySQLSpatialDialect</prop>
                <prop key="hibernate.query.substitutions">true 'T', false 'F'</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.jdbc.batch_size">50</prop>
                <prop key="hibernate.connection.useUnicode">true</prop>
                <prop key="hibernate.connection.charSet">utf8</prop>
                <prop key="hibernate.connection.characterEncoding">utf8</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
                <!--after_transaction or on_close-->
                <prop key="hibernate.connection.release_mode">on_close</prop>
                <prop key="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</prop>
                <prop key="hibernate.c3p0.acquire_increment">1</prop>
                <prop key="hibernate.c3p0.idle_test_period">1800</prop>
                <prop key="hibernate.c3p0.max_size">100</prop>
                <prop key="hibernate.c3p0.max_statements">50</prop>
                <prop key="hibernate.c3p0.min_size">1</prop>
                <prop key="hibernate.c3p0.timeout">1800</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
                <prop key="cache.use_minimal_puts">false</prop>
            </props>
        </property>
    </bean>


    <!-- DA T A  S O U R C E -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" scope="singleton">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="${mysql.url}" />
        <property name="user" value="${mysql.username}" />
        <property name="password" value="${mysql.password}" />
        <property name="acquireIncrement" value="1" />
        <property name="minPoolSize" value="3" />
        <property name="maxPoolSize" value="10" />
        <property name="maxIdleTime" value="3" />
    </bean>


    <bean name="log4jLogger" class="org.apache.log4j.Logger" factory-method="getRootLogger"></bean>
    <bean id="log4jInitialization" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
        <property name="targetMethod" value="initLogging" />
        <property name="arguments">
            <list>
                <value>src/log4j.properties</value>
            </list>
        </property>
    </bean>

	<!-- CONFIG -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="src/config.properties" />
	</bean>
</beans>
